.heading_brand{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.heading_brand h1 {
    font-size: 35px;
    line-height: 15px;
    font-weight: 900;
    font-family: Industry Bold, sans-serif;
}

.heading_brand span {
    font-size: 15px;
    line-height: 45px;
    font-weight: 200;
    font-family: var(--font-family);
}

.gpt3__features-container_p {
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.gpt3__possibility {
    display: flex;
    flex-direction: column;
}

.gpt3__possibility-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-right: 2rem;
}

.gpt3__possibility-image img {
    width: 100%;
    height: 100%;
}

.gpt3__possibility-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.gpt3__possibility-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #71E5FF;
}

.gpt3__possibility-content h4:last-child {
    color: #ff8A71;
}

.gpt3__possibility-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin: 1rem 0;
}

.gpt3__possibility-content p {
    color: black;
    opacity: 0.8;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    margin-bottom: 2rem;
}

.gpt3__possibility-content span {
    color: black;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;

    margin-bottom: 2rem;
}

@media screen and (max-width: 950px) {
    .gpt3__possibility {
        flex-direction: column;
    }

    .gpt3__possibility-image {
        margin: 1rem 0;
    }

    .gpt3__possibility-image img {
        width: unset;
        height: unset;
    }

    .gpt3__possibility-content {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 700px) {
    .gpt3__possibility-image img {
        width: 100%;
        height: 100%;
    }
}

